Options -Indexes

# Redireciona toda requisição para index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Bloqueia acesso direto a uploads de PHP
<FilesMatch "\.php$">
    <If "%{REQUEST_URI} =~ m#/uploads/#">
        Require all denied
    </If>
</FilesMatch>
